.App {
  text-align: center;
  height:100vh;
  position:relative;
  font-family: SimSun,NSimSun,FangSong,STFangsong;
}

.up{
  height:50%;
  background:#B5EAEA;
   
}
.down{
  height:50%;
  background:#EDF6E5;
}

.wrap{
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%,-50%);
  /* background: rgba(255,255,255,0.4); */
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:20px;
  z-index: 1;
  overflow: hidden;
}
.wrap2{
  position:absolute;
  top:15%;
  /* left:50%; */
  /* transform:translate(-50%,-50%); */
  /* background: rgba(255,255,255,0.4); */
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:20px;
  z-index: 1;
  overflow: hidden;
}

.text{
  /* color: rgba(0,0,0,0.8); */
  /* color: rgba(255,255,255,0.8); */
  /* font-weight:bold; */
  font-size:26px;
  line-height:1.8;
  text-align:left;
}
.next{
  position:absolute;
  top:70%;
  left:60%;
  color:#fff;

}
.all{
 display: flex;
 flex-direction:row;
 flex-wrap: wrap;
 margin:30px;
}
.item{
  height:200px;
  width: 200px;
  border-radius:8px;
  overflow:hidden;
  margin:15px;
  /* margin-bottom:20px; */
}
.item-up{
  height:50%;
  width: 100%;
}
.item-down{
  height:50%;
  width: 100%;
}